html {
    font-family: 'Open Sans', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
#section1 {
    height: 900px;
    background-color: #090909;
}
#section2 {
    height: 900px;
    background-color: white;
}
#section3 {
    height: 900px;
    background-color: #090909;
}
h1, h2, h3, p {
    color: white;
}
.header {
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1 {
    font-size: 55px;
}
#section2 p {
    color: black;
}
#campus {
    width: 35%;
    padding: 0;
}
.flexbox {
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden;
}